<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controller.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>com.controller.servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirMaterialServlet</servlet-name>
        <servlet-class>com.controller.servlet.SubirMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavegarServlet</servlet-name>
        <servlet-class>com.controller.servlet.NavegarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navegar2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.Navegar2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navegar3Servlet</servlet-name>
        <servlet-class>com.controller.servlet.Navegar3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirPDF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.SubirPDF1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirMaterialServlet</servlet-name>
        <url-pattern>/SubirMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavegarServlet</servlet-name>
        <url-pattern>/NavegarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navegar2Servlet</servlet-name>
        <url-pattern>/Navegar2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navegar3Servlet</servlet-name>
        <url-pattern>/Navegar3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirPDF1Servlet</servlet-name>
        <url-pattern>/SubirPDF1Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
