<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.controller.servlet.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controller.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>com.controller.servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirMaterialServlet</servlet-name>
        <servlet-class>com.controller.servlet.SubirMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavegarServlet</servlet-name>
        <servlet-class>com.controller.servlet.NavegarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navegar2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.Navegar2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navegar3Servlet</servlet-name>
        <servlet-class>com.controller.servlet.Navegar3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirPDF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.SubirPDF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.controller.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet1</servlet-name>
        <servlet-class>com.controller.servlet.LogoutServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>com.controller.servlet.PDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YoutubeLogin</servlet-name>
        <servlet-class>com.controller.servlet.YoutubeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Oauth2CallbackServlet</servlet-name>
        <servlet-class>com.controller.servlet.Oauth2CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModNavegar2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModNavegar2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModNavegar3Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModNavegar3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModNavegarServlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModNavegarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModPDFServlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModSubirMaterialServlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModSubirMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModSubirPDF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModSubirPDF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfNavegar2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfNavegar2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfNavegar3Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfNavegar3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfNavegarServlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfNavegarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfPDFServlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfSubirMaterialServlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfSubirMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfSubirPDF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfSubirPDF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModEvF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModEvF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModEvF2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.ModEvF2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfEvF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfEvF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfEvF2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfEvF2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavegarF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.NavegarF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirVideoServlet</servlet-name>
        <servlet-class>com.controller.servlet.SubirVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavegarF2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.mod.NavegarF2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarServlet</servlet-name>
        <servlet-class>com.controller.servlet.RecuperarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfNombrarModServlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfNombrarModServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNavegar2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNavegar2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNavegar3Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNavegar3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNavegarServlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNavegarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPDFServlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubirMaterialServlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminSubirMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubirPDF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminSubirPDF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEvF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminEvF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEvF2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminEvF2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNombrarModServlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNombrarModServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfNavegarF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfNavegarF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfNavegarF2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.prof.ProfNavegarF2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNavegarF1Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNavegarF1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNavegarF2Servlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNavegarF2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNombrarProfServlet</servlet-name>
        <servlet-class>com.controller.servlet.admin.AdminNombrarProfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirMaterialServlet</servlet-name>
        <url-pattern>/SubirMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavegarServlet</servlet-name>
        <url-pattern>/NavegarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navegar2Servlet</servlet-name>
        <url-pattern>/Navegar2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navegar3Servlet</servlet-name>
        <url-pattern>/Navegar3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirPDF1Servlet</servlet-name>
        <url-pattern>/SubirPDF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet1</servlet-name>
        <url-pattern>/LogoutServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/PDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YoutubeLogin</servlet-name>
        <url-pattern>/YoutubeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Oauth2CallbackServlet</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModNavegar2Servlet</servlet-name>
        <url-pattern>/ModNavegar2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModNavegar3Servlet</servlet-name>
        <url-pattern>/ModNavegar3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModNavegarServlet</servlet-name>
        <url-pattern>/ModNavegarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModPDFServlet</servlet-name>
        <url-pattern>/ModPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModSubirMaterialServlet</servlet-name>
        <url-pattern>/ModSubirMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModSubirPDF1Servlet</servlet-name>
        <url-pattern>/ModSubirPDF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfNavegar2Servlet</servlet-name>
        <url-pattern>/ProfNavegar2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfNavegar3Servlet</servlet-name>
        <url-pattern>/ProfNavegar3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfNavegarServlet</servlet-name>
        <url-pattern>/ProfNavegarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfPDFServlet</servlet-name>
        <url-pattern>/ProfPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfSubirMaterialServlet</servlet-name>
        <url-pattern>/ProfSubirMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfSubirPDF1Servlet</servlet-name>
        <url-pattern>/ProfSubirPDF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModEvF1Servlet</servlet-name>
        <url-pattern>/ModEvF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModEvF2Servlet</servlet-name>
        <url-pattern>/ModEvF2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfEvF1Servlet</servlet-name>
        <url-pattern>/ProfEvF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfEvF2Servlet</servlet-name>
        <url-pattern>/ProfEvF2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavegarF1Servlet</servlet-name>
        <url-pattern>/NavegarF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirVideoServlet</servlet-name>
        <url-pattern>/SubirVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavegarF2Servlet</servlet-name>
        <url-pattern>/NavegarF2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarServlet</servlet-name>
        <url-pattern>/RecuperarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfNombrarModServlet</servlet-name>
        <url-pattern>/ProfNombrarModServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfNavegarF1Servlet</servlet-name>
        <url-pattern>/ProfNavegarF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfNavegarF2Servlet</servlet-name>
        <url-pattern>/ProfNavegarF2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNavegarF1Servlet</servlet-name>
        <url-pattern>/AdminNavegarF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNavegarF2Servlet</servlet-name>
        <url-pattern>/AdminNavegarF2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNavegar2Servlet</servlet-name>
        <url-pattern>/AdminNavegar2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNavegar3Servlet</servlet-name>
        <url-pattern>/AdminNavegar3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNavegarServlet</servlet-name>
        <url-pattern>/AdminNavegarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPDFServlet</servlet-name>
        <url-pattern>/AdminPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubirMaterialServlet</servlet-name>
        <url-pattern>/AdminSubirMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubirPDF1Servlet</servlet-name>
        <url-pattern>/AdminSubirPDF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEvF1Servlet</servlet-name>
        <url-pattern>/AdminEvF1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEvF2Servlet</servlet-name>
        <url-pattern>/AdminEvF2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNombrarModServlet</servlet-name>
        <url-pattern>/AdminNombrarModServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNombrarProfServlet</servlet-name>
        <url-pattern>/AdminNombrarProfServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
