body {
    background: #fff;
    margin: 0 0;
    padding:10px;
    text-align:center;
    font-family: 'Lato', sans-serif;
}
#videobcg {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;

    width: 100%;
    z-index: -1000;
    overflow: hidden;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.title {
    font-family: 'Lato', sans-serif;
    position:relative;
    font-weight:regular;
    font-size: 14px;
    text-shadow: 0px 1px 2px rgba(255,255,255,.125);
    color: #121212;
    text-align:center;
}

.cap {
    margin-top:75px;
}

.table { display: table; } 
.table>* { display: table-row; }
.table>*>* { display: table-cell; }

form {
    font-family: 'Lato', sans-serif;
    background: rgba(255,255,255, .55);
    box-shadow: 1px 1px 2px rgba(0,0,0, .25);
    border-radius: 15px;
    font-size: 14px;
    margin: 20px auto 0;
    padding: 10px;
    width:25%;
    height: 35%;
}

input {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 14px;
    width:90%;
    margin: 20px auto;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    border: 1px solid #008080;
}

input {
    opacity: 0.5;
}

input:hover, input:focus {
    opacity: .7;
    color:#08c;
    border: 1px solid #008080;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #008080;
    outline: none;
}

select {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 14px;
    width:90%;
    margin: 20px auto;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    border: 1px solid #008080;
    opacity: 0.5;
}

select:hover, select:focus {
    opacity: .7;
    color:#08c;
    border: 1px solid #008080;
}

select[type="text"]:focus, select[type="password"]:focus {
    border: 1px solid #008080;
    outline: none;
}

input[type="submit"] {
    appearance: none;
    opacity: .99;
    width:120px;
    background: #008080;
    border: 1px rgba(255,255,255, .35);
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    text-shadow:0px -1px 0px rgba(0,0,0,.5);
}

input[type="reset"] {
    appearance: none;
    opacity: .99;
    width:120px;
    background: #008080;
    border: 1px rgba(255,255,255, .35);
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    text-shadow:0px -1px 0px rgba(0,0,0,.5);
}

input[type="submit"]:hover {
    background: #008080;
    width:120px;
    border: 1px rgba(255,255,255, .35);
    border-radius: 3px;
    text-shadow:0px 1px 1px rgba(0,0,0,.65);
    -webkit-transition: all 0.40s ease-out;
    transition: all 0.40s ease-out;
}

input[type="reset"]:hover {
    background: #008080;
    width:120px;
    border: 1px rgba(255,255,255, .35);
    border-radius: 3px;
    text-shadow:0px 1px 1px rgba(0,0,0,.65);
    -webkit-transition: all 0.40s ease-out;
    transition: all 0.40s ease-out;
}

input[type="submit"] {
    appearance: none;
    opacity: .99;
    width:120px;
    background: #008080;
    border: 1px rgba(255,255,255, .35);
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    text-shadow:0px -1px 0px rgba(0,0,0,.5);
}

input[type="button"] {
    appearance: none;
    opacity: .99;
    width:120px;
    background: #008080;
    border: 1px rgba(255, 255, 255, .35);
    border-radius: 4px; 
    color: #eee;
    cursor: pointer;
    text-shadow:0px -1px 0px rgba(0,0,0,.5);
}

input[type="button"]:hover {
    background: #008080;
    width:120px;
    border: 1px rgba(255, 255, 255, .35);
    border-radius: 3px;
    text-shadow:0px 1px 1px rgba(0,0,0,.65);
    -webkit-transition: all 0.40s ease-out;
    transition: all 0.40s ease-out;
}

/* unvisited link */
a:link {
    color: #008080;text-decoration: none;
}

/* visited link */
a:visited {
    color: #008080;text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #008080;text-decoration: none;
}

/* selected link */
a:active {
    color: #008080;text-decoration: none;
}

button {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 14px;
    margin: 20px auto;
    padding: 10px 8px 10px 8px;
    appearance: none;
    opacity: .99;
    width:120px;
    background: #008080;
    border: 1px rgba(255, 255, 255, .35);
    border-radius: 4px; 
    color: #eee;
    cursor: pointer;
    text-shadow:0px -1px 0px rgba(0,0,0,.5);
}

button:hover {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 14px;
    margin: 20px auto;
    padding: 10px 8px 10px 8px;
    background: #008080;
    width:120px;
    border: 1px rgba(255, 255, 255, .35);
    border-radius: 3px;
    text-shadow:0px 1px 1px rgba(0,0,0,.65);
    -webkit-transition: all 0.40s ease-out;
    transition: all 0.40s ease-out;
}

.datagrid table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 
} 

.datagrid {
    margin: 0 auto;
    width: 50%; 
    font: normal 12px/150% 'Lato', sans-serif; 
    background: rgba(255, 255, 255, .35); 
    overflow: hidden; 
    border: 1px solid #008080; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #008080), color-stop(1, #008080) );
    background:-moz-linear-gradient( center top, #008080 5%, #008080 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008080', endColorstr='#008080');
    background-color:#008080; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #008080; 
} 

.datagrid table tbody td { 
    color: #008080; 
    border-left: 1px solid #008080;
    font-size: 12px;
    font-weight: normal; 
}

.datagrid table tbody .alt td { background: #AECFCC; color: #008080; }
.datagrid table thead th:first-child { border: none; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table tbody td:first-child { border-left: none; }

.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}

.datagrid table tbody tr td:last-child { 
    text-align: center;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.datagrid form {
    font-family: 'Lato', sans-serif;
    background: rgba(255,255,255, .1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    border-radius: 0px;
    font-size: 0px;
    margin: 0 auto;
    padding: 0px;
}